In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [19]:
rpl22_oe = pd.read_csv("../data/raw/leafcutter_outputs/RPL22_oe_cluster_significance.txt",sep="\t")
rpl22l1_oe = pd.read_csv("../data/raw/leafcutter_outputs/RPL22L1_oe_cluster_significance.txt",sep="\t")

sh704 = pd.read_csv("../data/raw/leafcutter_outputs/sh704_cluster_significance.txt",sep="\t")
sh705 = pd.read_csv("../data/raw/leafcutter_outputs/sh705_cluster_significance.txt",sep="\t")

In [16]:
rpl22_oe_es = pd.read_csv("../data/raw/leafcutter_outputs/RPL22_oe_effect_sizes.txt",sep="\t")

In [24]:
rpl22_oe_es[rpl22_oe_es["intron"].apply(lambda x: "17141_NA" in x)]

,intron,logef,0,1,deltapsi
4744,chr1:204501374:204506558:clu_17141_NA,-4.907087,4.123565e-01,0.226011,-0.186345
4745,chr1:204501374:204507337:clu_17141_NA,9.814173,3.332926e-07,0.451903,0.451903
4746,chr1:204506625:204507337:clu_17141_NA,-4.907087,5.876432e-01,0.322086,-0.265558

In [20]:
rpl22_oe[rpl22_oe["genes"]=="MDM4"]

,cluster,status,loglr,df,p,p.adjust,genes
3000,chr1:clu_17140_NA,<2 introns used in >=min_samples_per_intron sa...,NaN,NaN,NaN,NaN,MDM4
3001,chr1:clu_17141_NA,Success,9.726545,2.0,0.000060,0.295446,MDM4
3002,chr1:clu_17142_NA,Success,0.628403,2.0,0.533443,0.980649,MDM4

In [13]:
sh705.sort_values(by="p.adjust").head(10)

,cluster,status,loglr,df,p,p.adjust,genes
16850,chr19:clu_18166_NA,Success,48.919306,13.0,4.346407e-15,5.897205e-11,"ZNF426,ZNF561"
30328,chr7:clu_5214_NA,Success,36.106576,6.0,1.436483e-13,9.745102e-10,PPIA
4265,chr10:clu_22519_NA,Success,29.985787,3.0,5.961009e-13,2.695966e-09,RPS24
29131,chr6:clu_30667_NA,Success,34.021505,7.0,3.669262e-12,1.244614e-08,MYO6
15005,chr17:clu_2685_NA,Success,27.851757,4.0,2.313704e-11,6.005117e-08,"NME1,NME1-NME2"
1617,chr1:clu_15757_NA,Success,40.074296,14.0,2.655565e-11,6.005117e-08,PRKACB
987,chr1:clu_15127_NA,Success,29.916345,6.0,4.867397e-11,9.434405e-08,MEAF6
24153,chr3:clu_32303_NA,Success,27.948876,5.0,8.530233e-11,1.446728e-07,FLNB
13534,chr17:clu_1214_NA,Success,28.068386,7.0,8.871652e-10,1.337451e-06,"MYO1C,INPP5K"
20915,chr2:clu_28685_NA,Success,38.631222,18.0,2.570479e-09,3.487625e-06,SEPT2

In [12]:
sh704.sort_values(by="p.adjust").head(10)

,cluster,status,loglr,df,p,p.adjust,genes
4265,chr10:clu_22519_NA,Success,30.405733,3.0,3.943337e-13,5.317195e-09,RPS24
10651,chr15:clu_7529_NA,Success,35.649352,9.0,8.466859e-12,5.708356e-08,"SNRPN,SNURF"
29131,chr6:clu_30667_NA,Success,30.681739,7.0,8.060377e-11,3.115807e-07,MYO6
15901,chr18:clu_9456_NA,Success,23.104572,2.0,9.242977e-11,3.115807e-07,VAPA
1617,chr1:clu_15757_NA,Success,35.367537,14.0,1.420085e-09,3.829685e-06,PRKACB
29132,chr6:clu_30668_NA,Success,20.052470,3.0,1.012306e-08,2.274990e-05,MYO6
8300,chr12:clu_21276_NA,Success,22.030683,5.0,2.250727e-08,3.372090e-05,VPS29
25935,chr4:clu_4080_NA,Success,17.767808,2.0,1.921051e-08,3.372090e-05,USO1
14006,chr17:clu_1686_NA,Success,22.061940,5.0,2.185901e-08,3.372090e-05,C17orf76-AS1
21727,chr20:clu_29497_NA,Success,22.399106,6.0,5.132782e-08,6.805941e-05,GNAS